<div class="container">
  <h1>Juego de la Generala</h1>

  <app-voltear-carta>
    <voltear-carta-frente>
    </voltear-carta-frente>
    <voltear-carta-reves>
    </voltear-carta-reves>
  </app-voltear-carta>

</div>
