<div class="c1">
<p>Los dados son: {{dados.toString()}} </p>

<h1 class="jugada">  {{jugada}} </h1>

<br>

<div style="opacity: 0">
  <div [ngClass]="toggleProperty ? 'flipped' : ''" class="card">
    <div class="front">
      <img mat-card-sm-image src="assets/imagenes/dado{{dados[0]}}.png" >
      <ng-content select="voltear-carta-frente"></ng-content>
    </div>
    <div class="back">
      <img mat-card-sm-image src="assets/imagenes/dado{{dados[0]}}.png" >
      <ng-content select="voltear-carta-reves"></ng-content>
    </div>
  </div>
</div>


<div class="container">
  <div [ngClass]="toggleProperty ? 'flipped' : ''" class="card">
    <div class="front">
      <img mat-card-sm-image src="assets/imagenes/dado{{dados[0]}}.png" >
      <ng-content select="voltear-carta-frente"></ng-content>
    </div>
    <div class="back">
      <img mat-card-sm-image src="assets/imagenes/dado{{dados[0]}}.png" >
      <ng-content select="voltear-carta-reves"></ng-content>
    </div>
  </div>
</div>

<div class="container">
  <div [ngClass]="toggleProperty ? 'flipped' : ''" class="card">
    <div class="front">
      <img mat-card-sm-image src="assets/imagenes/dado{{dados[1]}}.png" >
      <ng-content select="voltear-carta-frente"></ng-content>
    </div>
    <div class="back">
      <img mat-card-sm-image src="assets/imagenes/dado{{dados[1]}}.png" >
      <ng-content select="voltear-carta-reves"></ng-content>
    </div>
  </div>
</div>

<div class="container">
  <div [ngClass]="toggleProperty ? 'flipped' : ''" class="card">
    <div class="front">
      <img mat-card-sm-image src="assets/imagenes/dado{{dados[2]}}.png" >
      <ng-content select="voltear-carta-frente"></ng-content>
    </div>
    <div class="back">
      <img mat-card-sm-image src="assets/imagenes/dado{{dados[2]}}.png" >
      <ng-content select="voltear-carta-reves"></ng-content>
    </div>
  </div>
</div>

<div class="container">
  <div [ngClass]="toggleProperty ? 'flipped' : ''" class="card">
    <div class="front">
      <img mat-card-sm-image src="assets/imagenes/dado{{dados[3]}}.png" >
      <ng-content select="voltear-carta-frente"></ng-content>
    </div>
    <div class="back">
      <img mat-card-sm-image src="assets/imagenes/dado{{dados[3]}}.png" >
      <ng-content select="voltear-carta-reves"></ng-content>
    </div>
  </div>
</div>

<div class="container">
  <div [ngClass]="toggleProperty ? 'flipped' : ''" class="card">
    <div class="front">
      <img mat-card-sm-image src="assets/imagenes/dado{{dados[4]}}.png" >
      <ng-content select="voltear-carta-frente"></ng-content>
    </div>
    <div class="back">
      <img mat-card-sm-image src="assets/imagenes/dado{{dados[4]}}.png" >
      <ng-content select="voltear-carta-reves"></ng-content>
    </div>
  </div>
</div>

<button class="boton" mat-raised-button (click)="toggle()">Jugar</button>
  </div>
