.container {
  width: 100px;
  height: 130px;
  display: inline-block;
  position: relative;
  perspective: 800px;
  border-radius: 4px;
margin: 50px;
}

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 6px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}

.card .front,
.card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 6px;
  background-color: #fffeff;
  color: #fff;
  display: grid;
  place-items: center;
}

img{
  width: 70%;
  height: 50%;
}

.back {
  transform: rotateY(180deg);
}

.flipped {
  transform: rotateY(180deg);
}

.rotation{
  -webkit-animation:shake .1s ease-in-out .1ms infinite alternate;
  animation-iteration-count: 5;

}


.arrow-icon {
  position: absolute;
  right: 5px;
  bottom: 5px;
  opacity: 1;
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #fff;
}

.jugada{
  margin-left: 45%;
  margin-top: 5%;
}

.boton{
  margin-left: 45%;
  margin-right: auto;
  width: 100px;
  height: 50px;
  font-size: 20px;
}
