@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url("https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css");

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
